






/*ライフスタイル*/

.lifestyle{
    
    background-color: rgba(250,193,114,0.2);
    
}

.lifestyle-title{
    
    text-align: center;
/*効かないので　あとで幅与える    */
    margin-top: 200px;
    margin-bottom: 60px;
    display: inline-block;
    font-size: 40px;
    color:#707070;
    background:linear-gradient(transparent 80%,rgba(250,93,88,0.5) 0%);
}

.style{
    text-align: center;
    font-size: 30px;
    margin: 50px;
}
.style1{
  color: #fa5d58;  
}
.style2{
  color: #fac172;
}
.style3{
  color: #afcb67;
}

.lifestyle .container{
	display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    
}
.item_2{
    display: flex;
    flex-direction: column;
    color: #707070;
    background-color: white;
}

.item_1 img{
    height: 300px;
    width: 300px;
}










/*ボタン＿通常時*/
.btn {
/*  position: relative;*/
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  transition: .4s;
}

.btn-friend{
  color: white;
  background: #fa5d58;
}
.btn-family{
  color: white;
  background: #fac172;
}
.btn-old{
  color: white;
  background: #afcb67; 
}
/*ボタン＿ホバー時*/
/*
.btn:hover {
  background: white;
  color: #fa5d58;
}
*/
.btn-friend:hover{
  color: #fa5d58;
  background: white;
}
.btn-family:hover{
  color: #fac172;
  background: white;
}
.btn-old:hover{
  color: #afcb67;
  background: white; 
}



=======
/*プロジェクトここから*/
.project {
    text-align: center;

}

.project-subtitle{
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: normal;
    color: #707070;
}

.project h1{
    font-size: 45px;
    margin-bottom: 50px;
    color: #60B8C1;
}

.arrow img {
    margin-bottom: 30px;
    height: 50px;
}

.pj-title{
    margin-top: 40px;
   
    font-size: 30px;
    font-weight: bold;
    background:linear-gradient(transparent 60%, rgba(95,184,193,0.5) 0%);
    display: inline-block;
    color: #707070;
    
}

.project-text{
    color: #707070;
    margin: 70px;
    line-height: 25px;
    text-align: left;
    display: inline-block;
}


.graph img{
    width:800px;
}
.AQUA{
    width: 900px;
}

