
/*ギャラリーここまで*/
.gallery{
	text-align: center;
	background-color: rgba(250,193,114,0.2); 
}

.gallery h1{
	margin-top: 200px;
	display:inline-block;
	margin-bottom: 60px;
	font-size: 40px;
	background:linear-gradient(transparent 80%, #F9D349 0%);
	color: #707070;
}

.gallery .gallery_wrapper{
  max-width: 700px;
  margin: 0 auto;
}
.gallery p{
  margin-right: auto;
  text-align: left;
	line-height: 40px;
	color: #707070;
}

.gallery .instagallery{
	margin-top: 50px;
}
/*ギャラリーここまで*/

/*ここからアプリ*/
.App{
	background-color: rgba(250,193,114,0.2);
  height: 1100px;
}

.App .headline{
	text-align: center;
}

.App h1{
	display:inline-block;
	margin-bottom: 60px;
	font-size: 40px;
	background:linear-gradient(transparent 80%, #afcb67 0%);
	color: #707070;
	margin-top: 200px;
}

.App .container{
	align-items: center;
	display: flex;
	/*サイドの余白を全コンテンツの様子を見て調整*/
	margin: auto 220px; 
}

.App .app-img{
	/*画像に合わせてサイズ変更*/
}

.App .item_2{
	color: #707070;
	line-height: 40px;
  height: 700px;
}

.App .item_2 h3{
  margin-left: 50px;
  margin-top: 40px;
}

.App .item_2 p{
  margin-right: 50px;
}

.App .about_app{
	margin-top: 80px;
}

.App .app_buttun{
/*  margin-top: 50px;*/
  margin-left: 50px;
}
/*アプリここまで*/
=======
body{
    font-family: ”ヒラギノ角ゴ Pro W3″, “Hiragino Kaku Gothic Pro”;
}

/*header*/
.header-toyota{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #707070;
    font-size: 18px;
    padding: 5px 0;
}

.icon{
    display: flex;
 /*つけたいやつの一つ上にflexつける*/
    align-items: center;
    margin-left: 30px;
}
.icon img {
    height: 50px;
}

.toyota-header-right{
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-size: 12px;
}
.toyota-header-right li{
    padding-right: 20px;
}
.toyota-header-right li:last-child{
    padding-right: 0px;
}

.header-project{
    display: flex;
    justify-content: space-between;
    background-color: #60B8C1;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
    height: 60px;
}

.project-header-right{
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.project-header-right li{
/*    padding-right: 20px;*/
    display: table-cell;
    padding-top: 20px;
}
.project-header-right li:last-child{
    padding-right: 0px;
}
/*header終わり

/*ファーストビュー*/

.firstview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/ファーストビュー1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
/*    background-attachment: fixed;*/
    height: 100vh;
    color: #fff;
}
.catch-copy{
    font-family: Futura;
    font-size: 30px;
    margin-bottom: 20px;
/*    display: inline-block;*/
    text-align: left;
    
}

.title{
    font-size: 45px;
    margin-bottom: 300px;
    font-weight: normal;
/*    display: inline-block;*/
    text-align: left;
}

.firstview-text{
    display: inline-block;
    margin: auto;
}
/*ファーストビュー終わり*/

/*プロジェクトここから*/
.project {
    text-align: center;

}

.project-subtitle{
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: normal;
    color: #707070;
}

.project h1{
    font-size: 45px;
    margin-bottom: 50px;
    color: #60B8C1;
}

.arrow img {
    margin-bottom: 30px;
    height: 50px;
}

.pj-title{
    margin-top: 40px;
   
    font-size: 30px;
    font-weight: bold;
    background:linear-gradient(transparent 60%, rgba(95,184,193,0.5) 0%);
    display: inline-block;
    color: #707070;
    
}

.project-text{
    color: #707070;
    margin: 70px;
    line-height: 25px;
    text-align: left;
    display: inline-block;
}


.graph img{
    width:800px;
}
.AQUA{
    width: 900px;
}





/*ライフスタイル*/

.lifestyle{
    background-color: rgba(250,193,114,0.2);
    text-align: center;
    height: 2500px;
}

.lifestyle-title{
    margin-top: 150px;
    margin-bottom: 100px;
    display: inline-block;
    font-size: 40px;
    color:#707070;
    background:linear-gradient(transparent 80%,rgba(250,93,88,0.5) 0%);
}

.lifestyle .style_style1{
  font-size: 40px;
  color: rgba(250,93,88,0.8);
  margin-bottom: 40px;
}

.lifestyle .style_style2{
  font-size: 40px;
  color: rgba(250,193,114,0.8);
  margin-bottom: 40px;
}

.lifestyle .style_style3{
  font-size: 40px;
  color: rgba(175,203,103,0.8);
  margin-bottom: 40px;
}

.lifestyle .container{
	  display: flex;
    width: 1000px;
    margin: 0 auto 150px;
}

.item_1{
    position: relative;
    width: 500px;
}

.item_1 .image-friend{
    position: absolute;
    bottom: 420px;
    right: 310px;
    width: 50%;
    height: 35%
}

.item_1 .image-family{
    position: absolute;
    bottom: -60px;
    right: -40px;
    width: 55%;
    height: 35%
}

.item_1 .image-old{
    position: absolute;
    bottom: 400px;
    right: 170px;
    width: 75%;
    height: 35%
}

.item_2{
    display: flex;
    flex-direction: column;
    color: #707070;
    background-color: white;
    height: 500px;
    width: 500px;
}

.item_2 h1{
    font-size: 35px;
    text-align: left; 
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    line-height: 50px;
}

.friend h1{
    border-bottom: solid 6px rgba(250,93,88,0.8);
}

.family h1{
    border-bottom: solid 6px rgba(250,193,114,0.8);
}

.old h1{
    border-bottom: solid 6px rgba(175,203,103,0.8);
}

.item_2 p{
    font-size: 20px;
    color: #707070;
    line-height: 40px;
    margin-left: 50px;
    text-align: left;
}

.item_1 img{
    height: 500px;
    width: 500px;
}

/*ボタン＿通常時*/
.btn {
/*  position: relative;*/
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  transition: .4s;
  font-size: 30px;
  width: 200px;
  margin: auto;
}

.btn-friend{
  color: white;
  background: rgba(250,93,88,0.5);
}
.btn-family{
  color: white;
  background: #fac172;
}
.btn-old{
  color: white;
  background: #afcb67; 
}
/*ボタン＿ホバー時*/
/*
.btn:hover {
  background: white;
  color: #fa5d58;
}
*/
.btn-friend:hover{
  color: rgba(250,93,88,0.5);
  background: white;
}
.btn-family:hover{
  color: #fac172;
  background: white;
}
.btn-old:hover{
  color: #afcb67;
  background: white; 
}



=======
/*プロジェクトここから*/
.project {
    text-align: center;

}

.project-subtitle{
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: normal;
    color: #707070;
}

.project h1{
    font-size: 45px;
    margin-bottom: 50px;
    color: #60B8C1;
}

.arrow img {
    margin-bottom: 30px;
    height: 50px;
}

.pj-title{
    margin-top: 40px;
   
    font-size: 30px;
    font-weight: bold;
    background:linear-gradient(transparent 60%, rgba(95,184,193,0.5) 0%);
    display: inline-block;
    color: #707070;
    
}

.project-text{
    color: #707070;
    margin: 70px;
    line-height: 25px;
    text-align: left;
    display: inline-block;
}


.graph img{
    width:800px;
}
.AQUA{
    width: 900px;
}

/*ゲージはここから*/
.gauge {
    text-align: center;
}
.gauge h1{
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
    border-bottom: solid 2px #707070;
    padding: 5px; 
    display: inline-block; 
    color: #60B8C1;
}

.gauge .wrapper{
    max-width: 700px;
    margin: 0 auto;
}

.gauge p{
    margin-right: auto;
    text-align: left;
    font-size: 20px;
    color: #707070;
    line-height: 30px;
}

.gauge .gauge_image img{
    width: 1200px;
    margin: 80px auto 100px auto;
}

/*購入サポートはここから*/
.support{
    text-align: center;
    margin-top: 200px;
}

.support h1{
    font-size: 35px;
    display:inline-block;
    margin-bottom: 100px;
    background:linear-gradient(transparent 60%, rgba(95,184,193,0.5) 0%);
    color: #707070;
}

.support .botton{
    display: block;
    font-size: 30px;
    margin-bottom: 150px;
}

.support .botton .support_botton1{
  width: 400px;
  position: relative;
  padding-top: 75px; 
  padding-bottom: 75px;
  margin-right: 80px;
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  color: white;
  background: #60B8C1;
  transition: .4s;
  
}

.support .botton .support_botton1:hover{
  background: #60B8C1;
  color: white;
}

.support .botton .support_botton2{
  width: 400px;  
  position: relative;
  padding-top: 75px; 
  padding-bottom: 75px;
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  color: white;
  background: #FAC172;
  transition: .4s;
}

.support .botton .support_botton2:hover{
  background: #FAC172;
  color: white;
}

/*TOYOTA AQUAリンクはここから*/
.toyota-link{
    margin-left: 200px;
    margin-bottom: 100px;
    line-height: 30px;
}

.toyota-link p{
    color: #707070;
    font-size: 25px;
}

.toyota-link .address{
    margin-top: 10px;
    text-decoration: none;
    color: #60B8C1;
}

/*フッターはここから*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #60B8C1;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
    height: 60px;
}

footer p{
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
}
